@import './base.css';

#twpxVuePvz {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#twpxVuePvz,
#twpxVuePvz * {
  box-sizing: border-box;
  color: #000;
  font-family: 'PT Sans';
}
